:root{
	--mainColor: rgba(255,1,38, 0.85);
	--mainColorStronger: rgba(255,1,38, 1);
	--mainColorSmoother: rgba(255,1,38, 0.2);
	--secondaryColor : #f6f6f6;

}

html, body {
	margin: 0%;
	height: 100%;
	background-color: #f6f6f6;
	background-color: var(--secondaryColorColor);
	color: #333;
	font-family: Arial,x-locale-body,sans-serif;
	line-height: 1.5;
	border-radius: 5px;
	text-align:center;
}

header {
	padding:  0.5%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

a {
	color: grey;
	text-decoration-line: none;
}

#header-img {
	width: 100%;
	max-width: 200px;
	border-radius: 100%;
	border: 2Px solid rgba(255,1,38, 1);
	border: 2px solid var(--mainColorStronger);
}

.in-red {
	color: rgba(255,1,38, 0.85);
	color: var(--mainColor);
	cursor: pointer;
}

#title {
	align-self: center;
}

#link-lsg {
	text-decoration: none;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(255,1,38, 0.85);
	border-bottom: 1px solid var(--mainColor);
	padding: 2px;
	transition: border 0.3s ease-in-out;
}

#link-lsg:hover {
	border-bottom: 0px;
	border-right: 1px solid rgba(255,1,38, 0.85);
	border-left: 1px solid rgba(255,1,38, 0.85);
	border-right: 1px solid var(--mainColor);
	border-left: 1px solid var(--mainColor);
}

#contact-me {
	flex: 1 1 100%;
	display: i;
	border: 2px solid rgba(255,1,38, 0.2);
	border: 2px solid var(--mainColorSmoother);
	border-radius: 5px;
	margin: 2.5% 15% 0% 15%;
	max-width: 1400px;
	padding-bottom: 15px;
}

.separator {
	border: 1px solid rgba(255,1,38, 0.85);
	border: 1px solid var(--mainColor);
	height: 0px;
	width: 90%;
	margin: 5% auto 0% auto;
}

.separator-first {
	border: 1px solid rgba(255,1,38, 0.85);
	border: 1px solid var(--mainColor);
	height: 0px;
	width: 90%;
	margin: 2.5% auto 0% auto;
}

.separator-light {
	border: 1px solid rgba(255,1,38, 0.2);
	border: 1px solid var(--mainColorSmoother);
	height: 0px;
	width: 75%;
	margin: 7.5% auto 0% auto;
}

#presentation {
	text-align: center;
	margin: auto 2%;
}

.formated-paragraph {
	text-align:center;
	font-size: 110%;
	max-width: 80%;
	margin: auto;
}

button {
	display:inline-block;
	padding:0.7em 1.4em;
	box-sizing: border-box;
	text-transform:uppercase;
	background-color : white;
	color: rgba(255,1,38, 1);
	color: var(--mainColorStronger);
	border: 2px solid rgba(255,1,38, 1);
	border: 2px solid var(--mainColorStronger);
	text-align:center;
	position:relative;
	cursor: pointer;
}

button:focus {
	outline:0;
}

button:hover {
	font-weight: bold;
	color:#FFFFFF;
	background-color: rgba(255,1,38, 0.85);
	background-color: var(--mainColor);
}

.column {
  flex-grow: 1;
  flex-basis: 50%;
}

.activity {
	margin: 2%;
	cursor: pointer;
}

.activity > p {
	margin-top: 20%;
	font-size: 120%;
}

.interest-img {
	display: block;
	margin-left : auto;
	margin-right : auto;
	width : 80px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.project-element {
	background-color : #FFF;
	width: 300px;
	height: 400px;
	margin: 2%;
	border-radius: 10px;
	padding-left:2%;
	padding-right:2%;
	margin-left: 5%;
	margin-right: 5%;
	transition: 0.1s;
	border : 2px solid rgba(255,1,38, 0.2));
	border : 2px solid var(--mainColorSmoother);
}

.project-element:hover,  #contact-me:hover {
	box-shadow: 5px 5px 50px 0px rgba(20,20,20,0.2);
}

.project-element:hover .project-img {
	filter: contrast(200%);
}

.project-text {
	display: inline-block;
	text-align: center;
	padding-left: 2%;
	padding-right : 2%;
	padding-top: 20px;
	height: 52%;
}

.project-img {
	display: block;
	margin-left : auto;
	margin-right : auto;
	margin-top: 10%;
	height: 20%;
}

.project-button {
	padding:0.6em 1.2em;
	color: rgba(255,1,38, 0.85);
	color: var(--mainColor);
	border: 1px solid rgba(255,1,38, 0.85);
	border: 1px solid var(--mainColor);
}


@media only screen and (max-width:1000px) {
	.column {
	  flex-basis: 100%;
	}

	.project-element{
		margin-top:5%;
		margin-left: 0%;
		margin-right: 0%;
	}
}
